body{
    font-family: sans-serif;
    font-weight: 100;
    background:#00ECB9;
    text-align:center;
  }

  input{  
    padding: 10px; 
    font-family: sans-serif;    
    border:none;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
  }

  button{
      background: rgb(211, 32, 77);      
      color: #fff;
      padding: 12px; 
      font-size: 100%;
      font-weight: bold;
      border:none;
      border-radius: 3px;
  }

  h1{
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }

  #divRelogio{
	color: #fff;
	display: inline-block;		
    font-size: 30px;
  }

#divRelogio > div{
    padding: 10px;
    display: inline-block;
	background: #00BF96;
    border-radius: 5px;
}

div > span{
    padding: 15px;
    border-radius: 5px;
    background: #00816A;
    display: inline-block;
} 

.textoPequeno{
    padding-top:15px;
    font-size: 16px;
}