* {
    box-sizing: border-box;
}
html{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url(http://ppcdn.500px.org/75319705/1991f76c0c6a91ae1d23eb94ac5c7a9f7e79c480/2048.jpg);
    /*background-image: url(http://ppcdn.500px.org/75319705/1991f76c0c6a91ae1d23eb94ac5c7a9f7e79c480/2048.jpg);*/
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    height: 100%;
  }
body{
    font-family: sans-serif;
    font-size: 62.5%; /* Altera o valor da fonte padrão de 16px para 10px. Desta forma, 12px passa a equivaler a 1.2em, 14px fica equivalente a 1.4em, etc.*/
    font-weight: 100;
    /*background:#00ECB9;*/
    text-align:center;
  }

  input{  
    padding: 10px; 
    font-family: sans-serif;    
    border:none;
    text-align: center;    
    border-radius: 3px;
  }

  button{
      background: rgb(211, 32, 77);      
      color: #fff;
      padding: 12px;             
      border:none;
      border-radius: 3px;
  }

  h1{
    color: #396;            
    font-size: 4em;
    margin: 40px 0px 20px;
  }

  #divRelogio{
	color: #fff;
	display: inline-block;		
    font-size: 3em;
  }

#divRelogio > div{
    padding: 10px;
    display: inline-block;
	background: #00BF96;
    border-radius: 5px;
}

div > span{
    padding: 15px;
    border-radius: 5px;
    background: #00816A;
    display: inline-block;
} 

.textoPequeno{
    padding-top:15px;
    font-size: 0.6em;
}